/*CSS for the MapMenuControl*/
@import "./button.css";

.tx-menu {
	position: absolute;
	bottom: 0.5em;
	left: 0.5em;
}

.tx-menu > button {
	background-image: url("./menu-b.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1.2em;
}

#tx-menu-container {
	width: 100%;
	background-color: rgba(255, 255, 255, .8);
	border-radius: 4px;
	padding: 2px;
}
