/* geocoder */
#tx-top-bar {
	position: absolute;
	width: calc(100% - 14px);
	height: 2.375em;
	top: .5em;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, .4);
	border-radius: 4px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 2px;
}

@media only screen and (min-width: 756px) and (min-height: 500px) {
	#tx-top-bar {
		position: absolute;
		width: 318px;
		height: 2.375em;
		top: 0.5em;
		left: 0.5em;
		box-sizing: border-box;
		background-color: rgba(255, 255, 255, .4);
		border-radius: 4px;
		padding: 2px;
	}
}