.pswp__top-bar{
	padding-top: 8px;
	padding-left: 8px;
	padding-right: 8px;
}

.pswp__indicator {
	position: absolute;
	bottom: 8px;
	right: 8px;
}

.pswp__indicator p {
	color: #fff;
	font-size: 12px;
}

.pswp__button--close {
	height: 48px !important;
	width: 48px !important;
}

.pswp__button--zoom {
	height: 48px !important;
	width: 48px !important;
}

.pswp__button--arrow {
	height: 56px !important;
	width: 56px !important;
	background-color: #233237 !important;
	color: #F9F0DC !important;
	fill: #F9F0DC;
	border-radius: 16px;
	box-shadow: 0 0 4px 2px rgba(234, 198, 122, 0.4), inset 0 0 8px 8px rgba(0, 0, 0, 0.20) !important;
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.pswp__button--arrow:focus {
	color: #FCF8ED;
	box-shadow: 0 0 4px 2px #EAC67A, inset -3px 3px 8px 8px rgba(255, 255, 255, 0.10) !important;
}

.pswp__button--arrow:focus .tx-icon {
	fill: #FCF8ED;
}

.pswp__button--arrow:focus-visible {
	box-shadow: none;
	outline: #984B43 solid 2px;
}

.pswp__button--arrow:hover {
	color: #FCF8ED;
	box-shadow: -2px 2px 8px 4px #000, inset -3px 3px 8px 8px rgba(255, 255, 255, 0.08) !important;
}

.pswp__button--arrow:hover .tx-icon {
	fill: #FCF8ED;
}

.pswp__button--arrow:active {
	border: none;
	box-shadow: 0 0 4px 2px #000, inset -3px 3px 8px 8px rgba(0, 0, 0, 0.70);
}

.pswp__button--arrow:active .tx-icon {
	fill: #EAC67A;
}

.pswp__button--arrow--next {
	right: 8px !important;
}

.pswp__button--arrow--prev {
	left: 8px !important;
}

/* Captions */

.pswp__dynamic-caption {
	color: #fff;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	transition: opacity 120ms linear !important; /* override default */
}

.pswp-caption-content {
	display: none;
}

.pswp__dynamic-caption a {
	color: #fff;
}

.pswp__dynamic-caption--faded {
	opacity: 0 !important;
}

.pswp__dynamic-caption--aside {
	width: auto;
	max-width: 300px;
	padding: 20px 15px 20px 20px;
	margin-top: 70px;
}

.pswp__dynamic-caption--below {
	width: auto;
	max-width: 700px;
	padding: 15px 0 0;
}

.pswp__dynamic-caption--on-hor-edge {
	padding-left: 15px;
	padding-right: 15px;
}

.pswp__dynamic-caption--mobile {
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	padding: 10px 15px;

	right: 0;
	bottom: 0;

	/* override styles that were set via JS.
	  as they interfere with size measurement */
	top: auto !important;
	left: 0 !important;
}