/*top-bar*/

header.blog {
	height: 112px;
}

#topbar {
	height: 64px;
}

#article-title{
	display: inline-block;
}

#article-title h1 {
	margin-left: 4px;
	margin-top: 0;
	color: #fff;
	font-size: 2em;
}

.blogmenu a:hover, #sharepanel a:hover {
	background-color: #330000;
	color: #fff;
}

.nav-back {
	color: #f2f7fa;
	text-decoration: none;
	margin-top: 8px;
	margin-left: 4px;
	display: inline-block;
	background-color: #000;
	padding: 9px 15px 11px 15px;
	font-weight: 1000;
	font-family: Georgia, serif;
	font-size: 25px;
	border-radius: 24px;
}

.nav-back:hover {
	color: #fff;
	background-color: #330000;
}

.nav-home {
	display: inline-block;
	position: absolute;
	background-color: #000;
	right: 112px;
	margin-top: 8px;
	border-radius: 24px;
}

.nav-home:hover {
	background-color: #330000;
}

.blogmenu {
	background-image: url(../images/dotmenu.svg);
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	right: 4px;
	margin-top: 8px;
	overflow: visible;
	cursor: pointer;
	border-radius: 24px;
	background-color: #000;
	transition: background-color 0.4s;
}

.blogmenu:hover {
	background-image: url(../images/dotmenu-hover.svg);
	background-repeat: no-repeat;
	background-color: #330000;
}

#sharepanel {
	background-image: url(../images/share.svg);
	display: inline-block;
	background-color: #000;
	transition: background-color 0.4s;
	position: absolute;
	right: 56px;
	overflow: visible;
	cursor: pointer;
	vertical-align: middle;
	border-radius: 24px;
	margin-top: 8px;
}

#sharepanel:hover {
	background-image: url(../images/share-hover.svg);
	background-color: #330000;
}

header .blogmenu a, #sharepanel a {
	display: none;
	color: #f2f7fa;
	text-decoration: none;
	width: 100px;
	background-color: #242424;
	padding: 13px 8px 13px 8px;
	border-bottom: 1px solid #000;
}

.header-scroll {
	background-image: url(../images/bgweb.jpg);
	background-repeat: repeat-x;
	background: #000;
	background-image: linear-gradient(rgba(0, 0, 0, .95), rgba(0, 0, 0, .4)), url(../images/bgweb.jpg);
}

#contact {
	cursor: pointer;
}

#privacy {
	cursor: pointer;
}

/* article */

.authordate {
	margin-left: 4px;
	font-style: italic;
	font-size: .85em;
}

article {
	padding-top: 112px;
	width: 100%;
	color: #fff;
}

article p, section p {
	color: #fff;
	text-align: justify;
	margin-left: 4px;
	margin-right: 4px;
}

span.line {
	text-decoration: line-through;
}

p a, article a {
	color: #C7C7C7;
	text-decoration: none;
}

p a:hover, p a:active, article a:hover, article a:active {
	text-decoration: underline;
	color: #fff;
}

h4 a {
	color: #C7C7C7;
	text-decoration: none;
}

h4 a:hover, p a:active {
	text-decoration: underline;
	color: #fff;
}

figure.articleimage {
	width: 100%;
	height: 260px;
	overflow: hidden;
	margin-left: 0;
	z-index: 2;
}

figure.articleimage figcaption {
	display: none;
}

figure.articleimage img {
	position: relative;
	bottom: 70px;
	width: 100%;
}

section h3{
	margin-left: 4px;
}

/* article-facts */

aside {
	border-style: solid;
	border-color: #080808 #202020 #282828 #080808;
	border-width: 4px;
	background-color: #101010;
	font-size: .85em;
	margin: 4px;
	padding-left: 8px;
	padding-right: 8px;
}

aside ul {
	padding-inline-start: 8px;
}

aside li {
	list-style-type: none;
}

#omap{
	width: 100%;
	height: 260px;
	background-color: #fff;
	color: #000;
}

span.fact {
	float: right;
	margin-right: 5px;
}

/* gallery */

div.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style-type: none;
	padding-left: 0;
}

div.gallery a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 2px;
	padding: 2px;
	width: 200px;
	height: 200px;
	border-style: solid;
	border-color: #080808 #202020 #282828 #080808;
	border-width: 4px;
	background-color: #101010;
	overflow: hidden;
}

div.gallery img:active {
	opacity: .7;
}

div.gallery a:hover {
	border-style: solid;
	border-color: #101010 #242424 #282828 #101010;
	border-width: 4px;
	background-color: #202020;
}

div.gallery img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 200px;
	max-width: 200px;
}

div.mobile {
	display: none;
}

.pswp__dynamic-caption {
	color: #fff;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	transition: opacity 120ms linear !important; /* override default */
}

.pswp-caption-content {
	display: none;
}

.pswp__dynamic-caption a {
	color: #fff;
}

.pswp__dynamic-caption--faded {
	opacity: 0 !important;
}

.pswp__dynamic-caption--aside {
	width: auto;
	max-width: 300px;
	padding: 20px 15px 20px 20px;
	margin-top: 70px;
}

.pswp__dynamic-caption--below {
	width: auto;
	max-width: 700px;
	padding: 15px 0 0;
}

.pswp__dynamic-caption--on-hor-edge {
	padding-left: 15px;
	padding-right: 15px;
}

.pswp__dynamic-caption--mobile {
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	padding: 10px 15px;

	right: 0;
	bottom: 0;

	/* override styles that were set via JS.
	  as they interfere with size measurement */
	top: auto !important;
	left: 0 !important;
}

/*CSS file for the Avontuur design (Tablets and up)*/
@media only screen and (min-width: 756px) {

	/* top-bar */
	
	/* -article-*/
	.authordate {
		font-style: italic;
		font-size: 0.85em;
	}

	article {
		padding-top: 64px;
		width: 756px;
		margin-left: auto;
		margin-right: auto;
		color: #fff;
	}

	article p {
		color: #fff;
	}

	#article-intro {
		display: inline-block;
		width: 440px;
	}

	aside {
		float: right;
		width: 270px;
		border-style: solid;
		border-color: #080808 #202020 #282828 #080808;
		border-width: 4px;
		background-color: #101010;
		font-size: 0.85em;
		margin: 4px;
		padding-left: 8px;
		padding-right: 8px;
	}

	p a, article a {
		color: #C7C7C7;
		text-decoration: none;
	}

	p a:hover, p a:active, article a:hover, article a:active {
		text-decoration: underline;
		color: #fff;
	}

	h4 a {
		color: #C7C7C7;
		text-decoration: none;
	}

	h4 a:hover, p a:active {
		text-decoration: underline;
		color: #fff;
	}

	span.line {
		text-decoration: line-through;
	}

	figure.articleimage {
		width: 100%;
		height: 260px;
		overflow: hidden;
		margin-left: 0;
	}

	figure.articleimage figcaption {
		display: none;
	}

	figure.articleimage img {
		position: relative;
		bottom: 200px;
		width: 100%
	}

	span.fact {
		float: right;
		margin-right: 5px;
	}

	/* -- gallery--*/
	
	div.gallery img:hover {
		opacity: 0.7;
	}
}


/* Resolution 1024x768 (Viewsize 1010x660) Emperically 1124*/
@media only screen and (min-width: 1124px) {

	header.blog {
		height: 64px;
	}

	#article-title {
		position: fixed;
		top: 8px;
		left: calc((50% - 505px));
	}
		
	article {
		width: 1010px;
	}

	#article-intro {
		width: 700px;
	}

	figure.articleimage {
		height: 300px;
	}

	figure.articleimage img {
		bottom: 250px;
	}

	div.gallery a {
		height: 235px;
		width: 235px;
	}

	div.gallery img {
		max-height: 235px;
		max-width: 235px;
	}

	div.article-title {
		width: 1010px;
	}
}

/* Resolution 1366x768*/
@media only screen and (min-width: 1418px) {
	h1.logo span {
		display: inline-block;
	}

	#article-title {
		left: calc((50% - 652px));
	}

	article {
		width: 1304px;
	}

	#article-intro {
		width: 990px;
	}

	figure.articleimage {
		height: 500px;
	}

	div.gallery a {
		width: 310px;
		height: 310px;
	}

	div.gallery img {
		max-height: 310px;
		max-width: 310px;
	}

	div.article-title {
		width: 1304px;
	}
}