/*top-bar*/

header.blog {
	margin-bottom: 48px;
}

#app.blog {
	height: calc(100% - 112px);
}

#article-title {
	display: inline-block;
	height: 48px;
	background-color: #18121e;
	color: #FCF8ED;
	width: 100%;
	position: fixed;
	margin-top: -49px;
}

#article-title h1 {
	margin-left: 16px;
	font-size: 24px;
}

#contact {
	cursor: pointer;
}

#privacy {
	cursor: pointer;
}

/* article */

.authordate {
	margin-left: 4px;
	font-style: italic;
	font-size: .85em;
}

article {
	width: 100%;
	color: #fff;
}

article p, section p {
	color: #fff;
	text-align: justify;
	margin-left: 4px;
	margin-right: 4px;
}

span.line {
	text-decoration: line-through;
}

p a, article a {
	color: #C7C7C7;
	text-decoration: none;
}

p a:hover, p a:active, article a:hover, article a:active {
	text-decoration: underline;
	color: #fff;
}

h4 a {
	color: #C7C7C7;
	text-decoration: none;
}

h4 a:hover, p a:active {
	text-decoration: underline;
	color: #fff;
}

figure.articleimage {
	width: 100%;
	height: 260px;
	overflow: hidden;
	margin-left: 0;
	z-index: 2;
}

figure.articleimage figcaption {
	display: none;
}

figure.articleimage img {
	position: relative;
	bottom: 70px;
	width: 100%;
}

section h2 {
	margin-left: 4px;
}

/* article-facts */

aside {
	border-style: solid;
	border-color: #080808 #202020 #282828 #080808;
	border-width: 4px;
	background-color: #101010;
	font-size: .85em;
	margin: 4px;
	padding-left: 8px;
	padding-right: 8px;
}

aside ul {
	padding-inline-start: 8px;
}

aside li {
	list-style-type: none;
}

#omap {
	width: 100%;
	height: 260px;
	background-color: #fff;
	color: #000;
}

span.fact {
	float: right;
	margin-right: 5px;
}

/* gallery */

.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style-type: none;
	padding-left: 0;
}

.gallery a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #101010;
	overflow: hidden;
	margin: 8px;
	border-radius: 16px;
	box-shadow: 0 0 4px 2px rgba(35, 50, 55, 0.7);
}

.gallery img {
	transition: all .5s ease-in-out;
	display: block;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.8;
	max-height: 200px;
	max-width: 200px;
}



.gallery a:visited {
	background: #181818;
}

.gallery a:visited img {
	opacity: 0.5;
}

/* TODO Hier verder! */

.gallery img:active {
	opacity: 0.5;
}

div.gallery a:hover {
	border-style: solid;
	border-color: #101010 #242424 #282828 #101010;
	border-width: 4px;
	background-color: #202020;
}



div.mobile {
	display: none;
}


/*CSS file for the Avontuur design (Tablets and up)*/
@media only screen and (min-width: 756px) {

	/* top-bar */
	/* -article-*/
	.authordate {
		font-style: italic;
		font-size: 0.85em;
	}

	article {
		width: 756px;
		margin-left: auto;
		margin-right: auto;
		color: #fff;
	}

	article p {
		color: #fff;
	}

	#article-intro {
		display: inline-block;
		width: 440px;
	}

	aside {
		float: right;
		width: 270px;
		border-style: solid;
		border-color: #080808 #202020 #282828 #080808;
		border-width: 4px;
		background-color: #101010;
		font-size: 0.85em;
		margin: 4px;
		padding-left: 8px;
		padding-right: 8px;
	}

	p a, article a {
		color: #C7C7C7;
		text-decoration: none;
	}

	p a:hover, p a:active, article a:hover, article a:active {
		text-decoration: underline;
		color: #fff;
	}
	
	span.line {
		text-decoration: line-through;
	}

	figure.articleimage {
		width: 100%;
		height: 260px;
		overflow: hidden;
		margin-left: 0;
	}

	figure.articleimage figcaption {
		display: none;
	}

	figure.articleimage img {
		position: relative;
		bottom: 200px;
		width: 100%
	}

	span.fact {
		float: right;
		margin-right: 5px;
	}

	/* -- gallery--*/
	div.gallery img:hover {
		opacity: 0.7;
	}
}

@media only screen and (max-width: 1124px) {
	#article-title h1 {
		margin-top: 0;
	}
}


/* Resolution 1024x768 (Viewsize 1010x660) Emperically 1124*/
@media only screen and (min-width: 1124px) {
	#app.blog {
		height: calc(100% - 64px);
	}

	header.blog {
		margin-bottom: 0;
	}
	
	#article-title {
		position: fixed;
		top: 8px;
		left: calc((50% - 505px));
		width: auto;
		margin-top: 0;
	}
	
	#article-title h1 {
		margin-left: 0;
		margin-top: 8px;
	}

	article {
		padding-top: 0;
		width: 1010px;
	}

	#article-intro {
		width: 700px;
	}

	figure.articleimage {
		height: 300px;
	}

	figure.articleimage img {
		bottom: 250px;
	}

	div.gallery a {
	}

	div.gallery img {
		max-height: 235px;
		max-width: 235px;
	}

	div.article-title {
		width: 1010px;
	}
}

/* Resolution 1366x768*/
@media only screen and (min-width: 1418px) {
	#article-title {
		left: calc((50% - 652px));
	}

	article {
		width: 1304px;
	}

	#article-intro {
		width: 990px;
	}

	figure.articleimage {
		height: 500px;
	}

	div.gallery a {
	}

	div.gallery img {
		max-height: 310px;
		max-width: 310px;
	}

	div.article-title {
		width: 1304px;
	}
}