.main-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-menu li{
	display: inline-block;
}

.main-menu li:hover{
	cursor: pointer;
}

.dropdown{
	position: relative;
}

.main-menu li ul {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	right: 0;
	z-index: 100;
	display: none;
	overflow: hidden;
}

.main-menu li:hover ul {
	visibility: visible;
	opacity: 1;
	display: block;
	width: 112px;
}

.main-menu li ul li {
	display: block;
	width: 100%;
}

.main-menu li:hover > ul,
.main-menu li:focus-within >ul,
.main-menu li ul:hover {
	visibility: visible;
	opacity: 1;
	display: block;
}