#tx-filter {
	margin-left: auto;
	margin-right: auto;
	width: 304px;
}

#tx-filter > button {
	display: inline-block;
	margin: 10px 10px 10px 10px;
	padding: 0;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	border: none;
}

#tx-filter > button:focus-visible, #tx-filter > button:hover {
	background-blend-mode: normal;
}

.tx-filter_active {
	background-blend-mode: hard-light;
}

.tx-filter_off, .tx-filter_off:focus {
	background-blend-mode: overlay;
	background-color: #afafaf;
	box-shadow: 0 0 4px 2px rgba(234, 198, 122, 0.2), inset 0 0 16px 16px rgba(0, 0, 0, 0.40);
}

#tx-filter > button::-moz-focus-inner {
	border: none;
	padding: 0;
}

#tx-filter-button_bridge {
	background-image: url("../images/bridgefilter.jpg");
}

#tx-filter-button_tunnel {
	background-image: url("../images/tunnelfilter.jpg");
}

#tx-filter-button_rail {
	background-image: url("../images/railfilter.jpg");
}

#tx-filter-button_building {
	background-image: url("../images/buildingfilter.jpg");
}