.filteren button {
	display: inline-block;
	margin: 1px 2px 1px 2px;
	padding: 0;
	color: rgba(255, 255, 255, .1);
	font-size: 2.14em;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
	height: 1.2em;
	width: 1.2em;
	line-height: .4em;
	border: none;
	border-radius: 2px;
}

#bridgefilter {
	background-image: url(../images/bridgefilter.jpg);
	background-color: rgba(30, 30, 30, .2);
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-position: center;
}

#tunnelfilter {
	background-image: url(../images/tunnelfilter.jpg);
	background-color: rgba(30, 30, 30, .2);
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-position: center;
}

#railfilter {
	background-image: url(../images/railfilter.jpg);
	background-color: rgba(30, 30, 30, .2);
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-position: center;
}

#buildingfilter {
	background-image: url(../images/buildingfilter.jpg);
	background-color: rgba(30, 30, 30, .2);
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-position: center;
}

@media only screen and (min-width: 756px) {
	.filter button {
		height: 1.375em;
		width: 1.375em;
		transition: all .3s ease-in-out;
	}

	.filter button:hover {
		cursor: pointer;
		transform: scale(1.05);
	}

	#railfilter:focus {
		background-color: rgba(255, 255, 255, .5);
	}

	#railfilter:hover {
		background-color: rgba(255, 255, 255, .5);
	}

	#buildingfilter:focus {
		background-color: rgba(255, 255, 255, .5);
	}

	#buildingfilter:hover {
		background-color: rgba(255, 255, 255, .5);
	}

	#tunnelfilter:focus {
		background-color: rgba(255, 255, 255, .5);
	}

	#tunnelfilter:hover {
		background-color: rgba(255, 255, 255, .5);
	}

	#bridgefilter:hover {
		background-color: rgba(255, 255, 255, .5);
	}

	#bridgefilter:focus {
		background-color: rgba(255, 255, 255, .5);
	}
}