@media only screen and (max-width: 756px) {
	.tile:nth-child(-n+4) {
		position: relative;
		overflow: hidden;
		display: block;
		height: 200px;
		background-color: #181818;
		margin: 2px;
	}

	.tile:nth-child(-n+4) .tile-text-wrapper {
		display: block;
		position: absolute;
		top: 121px;
		width: 100%;
		background: #000000; /* For browsers that do not support gradients*/
		background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)); /* For Safari 5.1 to 6.0*/
		background: -o-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)); /* For Firefox 3.6 to 15 */
		background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)); /* Standard syntax */
	}

	.tile:nth-child(-n+4) h2.te {
		font-size: 1.2em;
		padding-left: 0;
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 0;
		margin-bottom: 0;
	}

	.tile:nth-child(-n+4) h3.te {
		display: block;
		font-size: 1em;
		font-weight: normal;
		color: #c7c7c7;
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 10px;
		margin-bottom: 0;
	}

	.tile:nth-child(-n+4) img.te {
		width: 100%;
	}

	/*rows*/
	h3.te {
		display: none;
	}

	.tile-text-wrapper {
		display: inline-block;
	}

	h2.te {
		display: inline-block;
		padding-left: 10px;
		font-size: 1.0em;
		margin: 0;
		color: #CCCCCC;
		vertical-align: middle;
		line-height: 50px;
	}

	.tile {
		display: block;
		height: 50px;
		margin-top: 5px;
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}

	.spoor {
		background-color: #000800;
	}

	.brug {
		background-color: #000008;
	}

	.gebouw {
		background-color: #080000;
	}

	.tunnel {
		background-color: #080808;
	}

	.xerbutri {
		background: #000000;
	}

	img.te {
		vertical-align: middle;
	}

	a:hover, a:active {
		background-color: #000000;
		color: #fff;
	}
}

@media only screen and (min-width: 756px) {
	.tile {
		overflow: hidden;
		display: inline-block;
		height: 190px;
		width: 248px;
		background-color: #181818;
		margin: 2px;
	}

	img.te {
		transition: all .5s ease-in-out;
		height: 190px;
		width: 248px;
	}

	a:hover img.te {
		transform: scale(1.05);
	}

	.tile-text-wrapper {
		display: block;
		position: relative;
		top: -91px;
		left: 0;
		background: #000000; /* For browsers that do not support gradients*/
		background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)); /* For Safari 5.1 to 6.0*/
		background: -o-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)); /* For Firefox 3.6 to 15 */
		background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)); /* Standard syntax */
	}

	h2.te {
		font-size: 1.2em;
		width: auto;
		padding-top: 0;
		padding-bottom: 10px;
		margin-top: 0;
	}

	h3.te {
		font-size: 1em;
		font-weight: normal;
		color: #c7c7c7;
		width: auto;
		padding-top: 10px;
		padding-bottom: 0;
		margin-bottom: 10px;
	}
}

/* Resolution 1366x768*/
@media only screen and (min-width: 1350px) {
	img.te {
		height: 238px;
		width: 310px;
	}

	.tile-text-wrapper {
		top: -97px;
	}

	.tile {
		height: 238px;
		width: 310px;
	}

	h2.te {
		font-size: 1.5em;
	}

	h3.te {
		font-size: 1em;
	}
}