.pswp__sheet {
	color: #f2f7fa;
	width: 100%;
	background-color: #211F26;
}

.pswp__sheet--side {
	position: absolute;
	right: 4px;
	top: 68px;
	width: 300px;
	padding: 24px;
	border-radius: 16px;
	margin-right: 4px;
	height: calc(100% - 72px);
}

.pswp__sheet--bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 0 16px 16px;
	box-shadow: 0 19px 38px rgba(100, 100, 100, 0.3);
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	width: 100%;
	max-width: 640px;
}

.pswp__sheet--bottom .pswp__sheet-caption {
	margin-top: 8px;
}

.pswp__sheet-map {
	background-color: #fff;
	color: #000;
	border-radius: 16px;
}

.pswp__sheet-map--side {
	height: 260px;
	width: 284px;
	position: fixed;
	bottom: 40px;
	right: 16px;
}

.pswp__sheet-map--bottom {
	margin-top: 16px;
	height: 120px;
}

.pswp__sheet--side .pswp__sheet-indicator {
	position: fixed;
	bottom: 0;
	right: 16px;
}

.pswp__sheet--bottom .pswp__sheet-indicator {
	position: fixed;
	bottom: 0;
	left: 16px;
	color: #000 !important;
}

@media only screen and (min-width: 1200px) {
	.pswp__sheet--side {
		width: 400px;
	}

	.pswp__sheet-map--side {
		width: 384px;
	}
}