header{
	justify-content: space-between;
	padding-left: 8px;
	padding-right: 8px;
}

.panel{
	width: 200px;
	position: absolute;
	right: calc(50% - 116px);
	top: 72px;
	color: #FCF8ED;
	background-color: #18121e;
	z-index: 600;
	font-size: .85em;
	padding: 16px;
	border-radius: 12px;
	box-shadow: 0 0 4px 2px rgba(234, 198, 122, 0.4), inset -3px 3px 8px 8px rgba(0, 0, 0, 0.10);
}

.panel > h2{
	margin-top: 0;
}

#contact {
	cursor: pointer;
}

#privacy {
	cursor: pointer;
}

#shell {
	display: none;
}

.hide {
	display: none;
}

.show-ib {
	display: inline-block;
}

.show {
	display: block;
}